/*  */
.fill {
  height: 100vh;
  padding: 56px 0 0 0;
}

#navbarCollapse {
  display: flex!important;
  flex-basis: auto;
}

#map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  float: left;
}

#bodyContent {
  width: 560px;
  min-height: 358px
}

.VideoHolder {
  width: 560px;
  height: 315px;
  background-color: #8e8e8e;
}

.carousel-indicators .active{
    background-color: #0000ff;
}

.carousel-indicators .active{
    background-color: #ff0000;
}
