/*  */
.fill {
  height: 100vh;
  padding: 56px 0 0 0;
}

#navbarCollapse {
  display: flex!important;
  flex-basis: auto;
}

#map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  float: left;
}

#bodyContent {
  width: 560px;
  min-height: 358px
}

.VideoHolder {
  width: 560px;
  height: 315px;
  background-color: #8e8e8e;
}

.overridden-indicator {
  position: static !important;
  margin-bottom: 0 !important;
}

.overridden-cbutton {
  position: static !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #00f;
  height: 1rem !important;
}

.carouselcolor{
    background-color: #0000ff !important;
}
