/*  */
.fill {
  height: 100vh;
  padding: 56px 0 0 0;
}

#navbarCollapse {
  display: flex!important;
  flex-basis: auto;
}

#map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  float: left;
}
